<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<section class="banner d-flex justify-content-center align-items-center">

	<div class="text-center">
		<h1 class="font-weight-bold">This is our home page</h1>
		<p> Start collecting your contact in a very smarter way. We provide very efficient and smarter way of handling contacts.</p>
		<button class="btn bg-color text-white">Get Start</button>
	</div>
	
</section>


</body>
</html>